.food-cart-container{
    display:flex;
    flex-direction: column;
    border:2px solid #b3b1b1;
    flex-basis: 25%;
    height: 200px;
    box-shadow: 0px 0px 5px #e0e0e0;
    padding:10px;
    justify-content: space-evenly;
    align-self: flex-start;
}

.food-cart-container>div{
    margin:auto 0px;
    display:flex;
    justify-content: space-between;
}

.delivery-header{
    color:green;
    font-weight: 500;
}
  
.cstm-button1{
    background-color: dodgerblue;
    margin:auto;
    font-size: 16px;
    border-radius: 4px;
    padding: 0.5rem;
    border:none;
    color:white;
    cursor: pointer;
    width:100%;
}
