.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 2rem;
  background-color: black;
  color:white;
}
.link{
  text-decoration: none;
  color:white;
}
a:hover{
  color:gray;
}