.navbar{
    display:flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 0px 5px grey;
    background: white;
  }
  
.hamburger-icon{
    display:none;
}
  
.hamburger-icon>button{
    background-color:transparent;
    border:none;
    margin-right:20px;
  
}
  
.hamburger-icon>button>i{
    font-size:30px;
}
  
.Logo{
    flex-basis:50%;
    font-size:20px;
    padding:8px;
}
  
.links{
    flex-basis:25%;
    font-size: 17px;
    font-weight: 500;
}
  
.links >ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style-type:none;
}
  
.links >ul>li>a{
    text-decoration: none;
    color:black;
    transition:0.2s all;
    display:block;
    outline:none;
    cursor: pointer;
}
  
.links >ul>li{
    padding:9px 12px;
    border-radius:20px;
    transition:0.2s all;
}
  
/* .links >ul>li:hover{
    background:rgb(241, 50, 50);
} */
  
.links >ul>li:hover a{
    color:red;
}

.cart-item-count{
  display: inline-block;
  background-color:rgb(218, 44, 44);
  color:white;
  width:20px;
  text-align: center;
  transition: 0.2s all;
  border-radius:20%;
}

@media screen and (max-width:900px){
    .Logo{
      flex-basis:60%;
    }
    .hamburger-icon{
      display:flex;
      flex-basis:40%;
      justify-content: flex-end;
      
    }
    .links{
      display:none;
      
    }
  
    .active{
      display:flex;
      flex-basis:100%;
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }
  
    .active >ul{
      display:flex;
      flex-direction:column;
      align-items:stretch;
      width:100%;
      text-align:center;
    }
    .active >ul>li{
      border-radius:0px;
      border-bottom:1px solid black;
      background-color:white;
    }
    .active >ul>li:hover{
      background-color:gray;
      
    }
  
}
  
.hidden{
    display:none;
}

.display{
    display: block;
}
