.order-details-container{
  max-width:40%;
  margin:3rem auto;
  display:flex;
  flex-direction: column;
  border:0.1rem solid #e0e0e0;
  padding:2rem;
}
.order-details-container>div:not(.order-head){
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.order-head{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.order-head>div>h1{
  margin-left: 2rem;
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 00.1rem;
}

.success_img_container{
  width:4vw;
  height:10vh;
  display: inline;
}
.success_img{
  width: inherit;
  
}